@keyframes flowingGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-container {
  position: relative;
  background-color: white;
  border-radius: 9999px;
  /* transition: opacity 0.3s ease-in-out; */
}

.nav-container::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  background: linear-gradient(90deg, 
    rgba(59, 130, 246, 1),
    rgba(139, 92, 246, 1),
    rgba(59, 130, 246, 1));
  background-size: 200% 100%;
  animation: flowingGradient 1s ease infinite;
  border-radius: 9999px;
  z-index: -1;
}



